<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Globologin test" parallel="false">

    <listeners>
        <listener class-name="core.ScreenshotListener"></listener>
        <listener class-name="core.RetryTestListener"></listener>
    </listeners>

    <test verbose="0" name="Fast_Suite">
        <!--<groups>
            <run>
                <exclude  name="cash"/>
            </run>
        </groups>-->
        <classes>
            <class name="gl2.C01_vkontakte"/>
            <class name="gl2.C02_facebook"/>
            <class name="gl2.C03_odnoklasniki"/>
            <class name="gl2.C04_yandex"/>
            <class name="gl2.C05_google"/>
            <class name="gl2.C06_twitter"/>
            <class name="gl2.C07_mailRu"/>
        </classes>
    </test>
</suite>